.sidebar {
position: fixed;
background-color: green;
color: white;
left: 1;
right: 0;
top: 0;
bottom: 0;
width: 100px;
margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  font-family: sans-serif;
  width: 300px;
}